# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/

# Env files
.env

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Node (если будет Next.js)
node_modules/
.next/
dist/
build/

# Vector DB / local data
chroma/
data/
storage/

# Docker
docker-compose.override.yml